@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
  --desk-fill: #334155;
  --grid-color: #78716c;
  --desk-surface: #ffffff;
  --desk-surface-alt: #f9fafb;
}

.dark {
  --background: #111827;
  --foreground: #e5e7eb;
  --desk-fill: #020617;
  --grid-color: #1f2937;
  --desk-surface: #e5e7eb;
  --desk-surface-alt: #020617;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
